body {
  background:pink;
}

#mainCont {
  width:33%;
  margin: 0 auto;
  background:#EFF;
  border-radius: 9px 9px 9px 9px;
}
#mainCont h1 {
  text-align:center;
}

#getQuote {
  margin-left:1%;
  margin-bottom: 1%;
  width: 75px;
  background:#357EDE;
  color:white;
  font-size: 12px;
  border:none;
  padding: 8px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.54);
  bottom: 0;
  border-radius:5px;
}
#getQuote:hover{
  background:#2F6BBA;
  /*box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.54);*/
}

#tweet-wrapper {
  margin-bottom:5%;
  margin-left:1%;
  width:100px;;
}

#quotePiece {
  width:66%;
  margin: 0 auto;
  transition:.5s;
}
#quotePiece p{
  font-size:20px;
}
#authorID{
  text-align:center;
  width: 33%;
  margin: 0 auto;
}

.pinkPower{
  background:#FFB8F7;
  transition: .5s;
}
.blueOcean {
  background:#4949D1;
  transition: .5s;
}
.fadeGreen {
  background:#49D18D;
  transition: .5s;
}

.leafy{
  background:#3A4F41;
  transition: .5s;
}

.paleGold {
  background:#EDDEA4;
  transition: .5s;
}

.lightSalmon{
  background:#F7A072;
  transition: .5s;
}

.deepSea{
  background:#395C6B;
  transition: .5s;
}

.cobaltBlue{
  background:#80A4ED;
  transition: .5s;
}

.paleAqua {
  background:#BCD3F2;
  transition: .5s;
}
